*{
	margin:0px;
	padding: 0px;
	box-sizing: content-box;
}

/*字体图标*/
@font-face {font-family: 'iconfont';
    src: url('fonts/iconfont.eot'); /* IE9*/
    src: url('fontsiconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/iconfont.woff') format('woff'), /* chrome、firefox */
    url('fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}

body{
	font:12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
	width: 1369px;
	background: url(images/background.png) repeat-x;
	background-color: #f5f5f5;
}
/*顶部*/
#top{
	width: 1349px;
	height: 36px;
	background-color: #f5f5f5;
}


#top-inner{
	margin:0 auto;
	width: 1190px;
	height: 35px;
	line-height: 35px;

}

#top-l{
	float: left;
}

#top-l li{
	display: block;
	list-style-type: none;
	float: left;

}

#sign-l{
	float: left;
}
.site-nav-l{
	padding:0px 6px 0px 6px;
}
.site-nav-l a{
	text-decoration: none;
	color: #6c6c6c;
	margin-right: 7px;
}

.site-nav-l .diff{
	color: #f22e00 !important;
}

#moblieTao{
	padding:0 6px;
	float: left;
}

#moblieTao a{
	text-decoration: none;
	color: #6c6c6c;
}
/*导航栏右边*/
#top-r{
	float: right;
	width: 583px;
}

#top-r li{
	display: block;
	list-style-type: none;
	float: left;
	padding:0 8px;
}

#top-r a{
	float:left;
	display: block;
	margin-right: 5px;
	text-decoration: none;
	color: #6c6c6c;
}

#myTaobao{
    /*padding: 0 6px;*/
	text-align: center;
	width: 65px;
	height: 37px;
}

/*.myTbhead{
	padding: 0 6px;
}*/

.myTbhead.myTbMean-color{
	float: left;
	padding: 0 6px;
}

span.arrow{
	display: inline-block;
	float: left;
	width: 12px;
	height: 12px;
	padding-top: 25px;
	background:url(images/arrow.png) no-repeat center center;
}
.myTbMean{
	display: none;
	margin-right:1px;
	padding: 0 8px;
	float: left;
	border: solid 1px #f5f5f5;
	line-height: 20px;
	z-index: 30; 
	background-color: rgb(255, 255, 255); 
	position: relative;
}
.myTbMean li{
	padding: 0px; 
	width: 90px;
}
.myTbMean a{
	display: block;
	padding: 8px 6px 8px 0px;

}

span.car-icon{
	display: inline-block;
	background:url(images/car.png) no-repeat center center;
	float: left;
	width: 12px;
	height: 12px;
	padding-top: 20px;
	margin-right: 5px;
}

#favorite{
	width: 53px; 
	height: 37px;
}

.collect{
	float:left;
	border: solid 1px #f5f5f5;
	display: none;
	position: relative;
	z-index: 30;
	float: left;
	padding: 0px;
	width: 90px;
	background-color: rgb(255, 255, 255);
}

#saler{
	width: 65px;
	height: 37px;
}

.salerList{
	float: left;
	border: solid 1px #f5f5f5;
	display: none;
	position: relative;
	z-index: 30;
	float: left;
	padding: 0px;
	width: 95px;
	background-color: rgb(255, 255, 255);
}
#contact{
	width: 65px;
	height: 37px;

}
.contantList{
	float: left;
	border:solid 1px #f5f5f5;
	display: none;
	position: relative;
	z-index: 30;
	float: left;
	padding: 0px;
	width: 95px;
	background-color: rgb(255, 255, 255);
}

span.list-icon{
	display: inline-block;
	float: left;
	background:url(images/list-icon.png) no-repeat center center;
	width: 12px;
	height: 12px;
	padding-top: 21px;
	margin-right: 2px;
}

.web-nav-l{
	float: left;
	display: none;
	width: 1188px;
	height: 374px;
	z-index: 1000;
	position: absolute;
	top:30px;
	left: 70px;
	border:solid 1px #eee;
	background-color: #ffffff;
}
.web-nav-l li{
	float: left;
	width: 296px;
	padding:0 !important;
}
.web-nav-l ul{
	width: 286px;
	height: 300px;
	margin-left: 10px;
}
.web-nav-l ul li{
	float: left;
	height: 25px;
	padding-top:5px;
	width: 24%;
	
}
.web-nav-l a{
	color: #3c3c3c !important;
}
.web-nav-l .web-p-head h4{
     font-size: 16px;
	   margin:10px;

}

ul.web-p1contain li{
	width: 20%; 
	line-height: 30px; 
	padding: 5px 0px 0px !important;
	margin-left:5px;

}
ul.web-p1contain li a:hover{
	background-color: rgb(252, 66, 0);
}
ul.web-p2contain li{
	width: 33%;
	line-height: 30px;
	margin-bottom:5px;
}
ul.web-p2contain li a:hover{
	background-color: rgb(159, 184, 56);
}
ul.web-p3contain li{
	width:33%;
	line-height: 30px;
	margin-bottom: 10px;
}
ul.web-p3contain li a:hover{
	background-color:#d75696;
}
ul .web-p4contain li{
	width: 40%;
	line-height: 30px;
	margin-bottom:10px;
}
ul.web-p4contain li a:hover{
	background-color: #2e9fdb;
}
#header{
	height:100px;
	padding: 30px 0px 3px 0px;
	float: left;
}

#header li{
	display: block;
	list-style-type: none;

}

#header a{
	text-decoration: none;
}

#headerbox{
	width: 1190px;
	/*margin: 0 auto;*/
	margin: 0px 90px;
}

#title{
	float: left;
	width: 265px;
}

#title h1{
	float: left;
	display: block;
	text-indent: -9999px;
	background:url(images/logo1.png) no-repeat;
	width: 230px;
	height: 80px;
	margin-top:8px;
}

#title h1 a{
	display: block;
	width: 100%;
	height: 100%;
}

#headerInner{
	width: 670px;
	height:90px;
	float: left;

}


.search-h{
	float:left;
}

.find-h{
	width: 625px;
	height: 25px;
}

.find-h-w li{
	display: block;
	text-align: center;
	float: left;
	width: 50px;
	height: 25px;
	line-height: 25px;
}

.find-h-w li a{
	color: #ff4400;
}
/*.find-h-w .find-h-w-1 a:hover{
	background-color:#FF5400;
}
.find-h-w .find-h-w-2 a:hover{
	background-color: #C60000;
}
.find-h-w .find-h-w-3 a:hover{
	background-color: #FF5400;
}*/
li.find-h-w-1{
	background-color:#FF5400;
}

li.find-h-w-1 a{
	color:#ffffff !important;
}


.find-f{
	border: solid 2px #FF5400;
	width: 625px;
	height:38px;
}

.find-input{
	float: left;
	width: 503px;
}

span.mirror{
	width: 12px;
	height: 12px;
	margin-top:12px;
	margin-left: 10px;
	display: block;
	position:absolute;
	background:url(images/s.png) no-repeat;
}

/*span.intext{
	float: left;
	display: block;
	position:absolute;
	color: #9c9c9c;
	width:72px;
	height:18px;
}*/

#find-form{
	float: left;
}

.filed #word{
	border:none;
	line-height:22px;
	padding: 6px 0; 
	margin-left: 3px;
	width: 472px;
	height: 22px;

}

span.camera{
	float: left;
	right: 520px;
	top:95px;
	width: 12px;
	height: 12px;
	margin-top:12px;
	margin-left: 10px;
	display: block;
	position:absolute;
	background:url(images/camera-icon.png) no-repeat;

}
/*button*/
#find-form .find-btn{
	float: left;
	width: 122px;
	height:38px;
}

.find-btn #find{
	border:none;
	background-color: #ff4200;
	width: 122px;
	height:38px;
	text-align: center;
	font-size: 18px;
	line-height: 40px;
	color: #ffffff;

}
/*高级搜素*/
#search{
	float: left;
	width: 24px;
	height:42px;
	margin-top:25px;
	padding-left: 8px;
}

#search a{
	color: #666666;
}

#search-f{
	float: left;
	width: 625px;
	height: 25px;
}

.hot{
	padding-top: 5px;
}
.hot li{
	float: left;
	list-style-type: none;
	text-decoration: none;
	margin-right: 4px;
}

.hot li a{
	color: #666666;
}

.hot li a:hover{
	color: #ff4200 !important;
}
.hot .colordiff a{
	color:#ff4200;
}

a.more{
	float: left;
	margin-left: 90px;
	display: block;
	color:#666666;
	font-size: 12px;
}
a.more:hover{
	color: #ff4200;
}
#qrCode{

	float: left;
	margin-left:140px;
	margin-top:3px;
}

.close{
	float: left;
	text-indent: -9999px;
}
.close a{
	width: 12px;
	height: 12px;
	display: block;
	border:solid 1px #f5f5f5;
	background: url(images/close-code.png) no-repeat;
}

.qr{
	border:solid 1px #f5f5f5;
	width: 98px;
	float: left;


}

span.phoneTb{
	margin:0px 20px;
	display: block;
	color: #ff4200;
}

img{
	margin:0px 7px;
	width: 80px;
	height:80px;
}

#container{
	width: 1190px;
	float: left;
	margin:0 80px;
}

#container li{
	list-style-type: none;

}

#container a{
	text-decoration: none;
	font-size:13px;
}

#container-l{
	float: left;
	background-color: #FF6537;
	color: #fff;
	height: 555px;
}

#container-l a{
	font-size: 12px;
	color: #fff;
	margin-right:3px; 
}

#cl-top{
	width: 190px;
	height: 33px;
}

#cl-top h3{
	text-indent: 10px;

}
#cl-top h3 a{
	font-size: 15px;
	line-height: 33px;
}

span.cl-icon{
	line-height: 33px;
	display: block;
	float: right;
	margin-right: 10px; 
}

.cl-m-l-c.active{
	background-color: #F0431E;
}
li.cl-m-l-c{
	width: 170px;
	height: 30px;
	padding:0 10px;
	line-height: 30px;
	cursor: pointer;
}

.cl-m-l-c .guide{
	width: 134px;
	display: inline-block;
}


.guide a{
	font-weight: 700;
	margin-right: 3px;
}

#cl-foot{
	width: 190px;
	height: 40px;
}

#cl-foot h2{
	width: 190px;
	height: 40px;
	text-indent:-9999px;
}
#cl-foot h2 a{
	width:190px;
	height: 30px;
	padding-top:10px;
	display: block;
	background:url(images/cl-foot.jpg) no-repeat;

}

.container-hide{
	float: left;
	position:absolute;
	background-color: #ffffff; 
	border: solid 1px #ff4200;
	display: none;
	width: 700px;
	height: 521px;
	margin-top:35px;
	margin-left:190px; 
}
.container-hide.select{
	display: block !important;
	z-index: 9999;
}
#detail{
	float: left;
	width: 422px;
}
#detail a{
	display: inline-block;
	color:#666;
}

#detail span{
	display: inline-block;
}
#detail .de-box{
	margin: 30px 20px 10px 0px;
	border-bottom: solid 1px #f5f5f5;
}

#detail ul{
	margin-left: 10px;
}
#detail .de-diff{
	color: #ff4200;
	
}

.de-box i{
	width: 12px;
	height: 12px;
}
#detail .de-hbs a{
	font-weight: 700;
	font-size: 14px;
}
#detail .de-hbs{
	width: 333px;
}
#detail li a{
	margin-right: 10px;
	line-height:30px;
}

#guass{
	float: left;
	background-color: #f5f5f5;
	height: 521px;
	width: 277px; 

}
#guass-in{
	margin:20px;
}
#guass-in span.onTime{
	display: block;
	font-weight: 100;
	font-size: 12px;
	color: #666;
}
#guass-in h2{
	margin-left: 30px;
}
#guass-in h2 a.like-icon{
	line-height: 25px;
	display: block;
	float: left;

}

#guass-in ul{
	margin-top:30px; 

}
#guass-in .guass-res li{
	float:left;
}
#guass-in .guass-res li a{
	text-indent:-9999px;
	display: block;
	width: 100px;
	height:100px;
	background:url(images/guass-pi.png) no-repeat; 
	margin-right:10px;
}


#guass-in a{
	display: inline-block;
	float: left;
	color: #666;
	margin-right:15px;
	margin-top: 15px;
}
#guass-in a.guass-res-1{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);

}
#guass-in a.guass-res-1 img{
	margin: 0px;

}
#guass-in a.guass-res-1 span{
	display: inline-block;
	margin: 0px 25px;
	float: left;

}

#container-r ul{
	float: left;
}

#container-r li{
	float: left;
}


#container-r a{
	font-weight: 700;
	font-size: 14px;
	color: #6c6c6c;

}
#rext-top{
	line-height: 30px;
	margin-bottom: 11px;
}
#rect-top a{
	margin:0 3px;
}
#rect-top .rect-top-1 a{
	color:#f22e00;
	margin: 0 20px;
	font-size: 16px;
	display: block;
}
#rect-top  a:hover{
	background-color: #f22e00;
	color: #ffffff !important;
	border-radius: 5px;
}
#rect-top .rect-top-2 a{
	color:#3C3C3C;
	display: block;
	margin: 0 14px;
}


#rect-bottom{
	margin-top:20px;
	width: 990px;
	float:left;
}
/*中间左边*/
#reb-l{
	float:left;
	width: 520px;
	height:511px; 
	/*background-color:red;*/
}

#myCarousel a{
	display: block;
	position: absolute;
	width: 24px;
	height: 36px;
	top:350px;
	/*display: none;*/
	z-index: 700;

}
#myCarousel1 a{
	display: block;
	position: absolute;
	width: 24px;
	height: 36px;
	top:350px;
	/*display: none;*/
	z-index: 700;

}
#myCarousel a.left{
	background: url(images/prev.png) no-repeat rgba(0,0,0,.4) center;
	left: 276px;
	opacity: .4;
}
#myCarousel a.right{
	background: url(images/next.png) no-repeat rgba(0,0,0,.4) center;
	left: 771px;
	opacity: .4;
}

#myCarousel1 a.left{
	background: url(images/prev.png) no-repeat rgba(0,0,0,.4) center;
	left: 276px;
	opacity: .4;
}
#myCarousel1 a.right{
	background: url(images/next.png) no-repeat rgba(0,0,0,.4) center;
	left: 771px;
	opacity: .4;
}

span.ad-tag {
	display: block;
	background: url(images/guangao.png) no-repeat rgba(0,0,0,.4);
	z-index: 100;
	width: 24px;
	height: 14px;
	opacity: .3;
	position: absolute;
	top: 480px;
	left: 280px;
}
#myCarousel li.active{
	 background-color:#ff4200;
	width:9px;
	height: 9px;
	margin:2px;
	line-height: 13px;
	margin-bottom: 10px;

}
#myCarousel ol{
  width: 65px;
  margin-left: 230px;
  position: absolute;
  top: 470px;
}
#myCarousel1 li.active{
	 background-color:#ff4200;
	width:9px;
	height: 9px;
	margin:2px;
	line-height: 13px;
	margin-bottom: 10px;

}
#myCarousel1 ol{
  width: 65px;
  margin-left: 230px;
  position: absolute;
  top: 470px;
}
ol.carousel-indicators{
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 10px;
	width: 65px;
	height: 13px;
	margin: 0px 0px 0px -33px;
	bottom: 20px;
	position:  absolute;
	text-align: center;
	z-index: 15;
}
ol.carousel-indicators li{
	background-color: rgb(183, 183, 183);
	display: inline-block;
	margin: 2px;
	width: 9px;
	height: 9px;
	border: 0px none;
	line-height: 20px;
	border-radius: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}
.carousel-inner .item{
	position: relative;
	display: none;
	transition: .6s ease-in-out left !important;
}
.carousel-inner .active{
	display: block;
}
.item img{
	width: 520px;
	height: 280px;
}
#reb-l-top{
	width:520px;
	height: 280px;
}

#reb-l-bottom{
	width: 520px;
	height: 230px;
	margin-left:5px;

}

#reb-l-b-hd{
	width: 520px;
	height: 28px;
	border-bottom: 2px solid rgb(193, 44, 38);
}

#reb-l-b-hd h4{
	background: url(images/tianmao.gif) no-repeat left bottom;
	border-bottom: solid 2px;
	float: left;
	padding-left: 50px;
	line-height: 20px;
	margin-top: 8px;
	margin-right: 1px;
	font-weight: 700;
}

#reb-l-b-hd span{
	display: block;
	float: left;
	margin-top: 10px;
	color: rgb(119, 112, 112);
}

#reb-l-b-hd strong{
	position: absolute;
	top: 505px;
	margin-left: 280px;
}

#reb-l-b-hd strong i{
	color: #c12c26;
}



#reb-l-bottom #myCarousel1{
	width: 520px;
	height: 201px;

}

#reb-l-bottom #myCarousel1 ol{
	width:80px;
	top:700px;
}

#reb-l-bottom #myCarousel1 a.right{
	top:600px;

}

#reb-l-bottom #myCarousel1 a.left{
	top:600px;

}

#reb-l-bottom img{
	width: 520px;
	height: 200px;
	margin-left: 1px;
}
/*#reb-l-bottom .item{
	display: none;
}
#reb-l-bottom .active{
	display: block;
}
#warpb-1 a{
	display: inline-block;
}
#warpb-1 .w1-big img{
	width: 170px;
	height: 201px;
	float: left;
}

#warpb-1 .w1-small img{
	width: 173px;
  height:100px;
	float: left
}

.w2-same{
	width: 173px;
	height: 100px;
	border-left: solid 1px #ededed;
	border-bottom: solid 1px #ededed;
}

.w2-same img{
	width: 173px;
	min-height: 100px;
}*/
#reb-m{
	float:left;
	width:160px;
	height: 511px;
	margin:0 10px;
	
}

#reb-m-top a{
	display: block;
}

#reb-m-top a.a1{
	width: 160px;
	height: 280px;
	background:url(images/todayhot/a1-p.png) no-repeat; 

}

/*#reb-m-top a.adver{
	background:url(images/guangao.png) no-repeat;
}*/

#reb-m-bottom{
	width: 160px;

}
#reb-m-bottom a{
	display: block;
}
#reb-m-bottom h5{
	font-size:12px;
	color: #a1a1a1;
	line-height: 30px;

}

#reb-m-bottom a.a2{
	width: 160px;
	height: 204px;
	background:url(images/todayhot/a2-p.jpg) no-repeat; 
}


#reb-r{
	float: left;
	width: 290px;
	height: 486px;
	
	
}

#reb-r-t{
	width:268px;
	height: 137px;
	padding: 15px;
	border-bottom: solid 1px #eee;
	background: url(images/Taobg.png) no-repeat;
 
}

#userhd{
	height: 105px;
	text-align: center;
}
a.avater{
	width: 60px;
}
a.avatar img{
	border-radius: 50%;
	height: 60px;
	width: 60px;
	margin:0 80px;
}
span.user-name{
	display: block;
	margin: 0 80px;
}
p.user-info{
	width: 268px;
	height: 20px;
	background:url(images/corn.jpg) no-repeat;
}
p.user-info a{
	font-size:12px !important;
	font-weight: 100 !important;
	color:#F40 !important;
	text-align: center;
	line-height: 20px;
	height: 20px;
	
}
.user-info .userget{
	margin-left: 30px;
}
.Tbicon{
	background: url(images/Tbicon.png) no-repeat;
	
}
.userget .Tbicon{
	line-height: 20px;
	width: 16px;
	height: 16px;
	display: inline-block;
	background-position:0 -882px;
}
.userft{
  margin-top:7px;
}
.three-btn a{
	float:left;
	line-height: 25px;
	text-align:center;
	color: #FFF !important;;
	background-color: #F40;
	width: 80px;
	margin-right:7px;
}
#reb-r-m{
	width: 290px;
	height: 98px;
	padding: 7px 0 4px 0;
	margin-top:1px;
	background-color:#fff;
}
#reb-r-m a{
	font-size: 12px;
	color: #3C3C3C;
	font-weight: 100;
}

.reb-r-m-hd{
	position: relative;
	width:290px;
	margin:4px 0 0 0;
}

.reb-r-m-hd a{
	font-size: 12px !important;
	color: #3C3C3C;

}
.reb-r-m-hd ul{
	margin-bottom: 20px;
}
.reb-r-m-hd li{
	float: left;
	width: 39px;
	text-align: center;
	margin:0 8px;
	line-height: 20px;

}

.reb-r-m-hd .selected{
	font-weight: 700;
	border-bottom: solid 2px #F40;
}

reb-r-m.bd{
	width: 290px;
}
.reb-r-m-bd ul{
	float:left;
	width:270px;
	margin:0 15px 10px 20px;
	display: none;
}
.reb-r-m-bd li{
	float: left;
	height: 25px;
	margin-right: 10px;
}
.reb-r-m-bd li .t{
	color: #F43 !important;
}

#reb-r-b{
	background-color: #ffffff;
	height: 210px;
	width: 290px;

}
#reb-r-b ul{
	width: 294px;
}
#reb-r-b li{
	border:solid 1px #eaeaea;
	width: 70px;
	height: 67px;
	cursor: pointer;
}
#reb-r-b li.selected{
	border-color: #F40;
	border-bottom-color: #eaeaea;
}
#reb-r-b p{
	font-size:12px !important; 
	font-weight: 100;
	text-align: center;
}
#reb-r-b p.change{
	color: #F40;
}
#reb-r-b .Tbicon{
	display: inline-block;
	width: 24px;
	height: 24px;
	vertical-align: middle;
	margin:10px 20px;
}
.reb-r-b-itme1 .Tbicon{
	background-position: 0 0;
}
.reb-r-b-itme2 .Tbicon{
background-position: 0 -44px;
}
.reb-r-b-itme3 .Tbicon{
background-position:  0 -85px;
}
.reb-r-b-itme4 .Tbicon{
background-position: 0 -132px;
}
.reb-r-b-itme5 .Tbicon{
background-position:  0 -176px;
}
.reb-r-b-itme6 .Tbicon{
background-position: 0 -220px;
}
.reb-r-b-itme7 .Tbicon{
background-position:  0 -264px;
}
.reb-r-b-itme8 .Tbicon{
background-position: 0 -308px;
}
.reb-r-b-itme9 .Tbicon{
background-position:  0 -352px;
}
.reb-r-b-itme10 .Tbicon{
background-position: 0 -396px;
}
.reb-r-b-itme11 .Tbicon{
background-position:  0 -440px;
}
.reb-r-b-itme12 .Tbicon{
background-position: 0 -484px;
}


#reb-r h3 a{
	 display:inline-block;
	 margin-right:0px; 
	 color:#666666;
	 float: right;
	 font-size: 12px !important;
	 font-weight:100 !important;
	 line-height: 20px;
}

#reb-r h3 a:hover{
	color: #ff4200;
}

#Web-Next{
	width: 1190px;
	height: 86px;
	margin:0 80px;
}

#fire{
	width: 897px;
	height: 76px;

}
#fire ul{
	margin-top: 10px;
}
#fire li{
	width: 176px;
	height: 74px;
	float: left;
	list-style-type: none !important;
	background-color:#FFF;
	margin-top: 10px;
}
#fire img{
	border-radius: 100%;
	border:solid 1px  #ededed;
	width: 60px;
	height: 60px;
	float: left;
	margin-top: 5px;
}

#fire strong{
	display: block;
	font-size: 16px;
	line-height: 20px;
	list-style-type: none !important;
	margin-top:5px;
}

#fire span{
	display: block;
}

#fire em{
	color: #999;
	font-size: 12px;
}

#App{
	width: 290px;
	height: 116px;
	background-color:#FFF;
	float: left;
	margin-left: 10px;
	margin-top: -20px;

}
#App h3{
	margin-left:5px;
}
#App h3 a{
	 display:inline-block;
	 margin-right:15px; 
	 color:#666666;
	 float: right;
	 font-size: 12px !important;
	 font-weight:100 !important;
	 line-height: 20px;
	 text-decoration: none;
}
#App h3 a:hover{
	color: #ff4200;
}


#App li{
	width: 32px;
	height: 32px;
	margin:1px 0;
	float: left;
	list-style-type: none;
	margin:10px 10px 0;
}
.nav-app a img{
	width: 32px;
	height: 32px;
	float: left;
}

#App .first{
	display: none;
	background-color: #FFF;
	position: relative;
	z-index: 9999;
	width: 90px;
	bottom:140px;
	left: -20px;

}
#App .second{
	display: none;
	background-color: #FFF;
	position: relative;
	z-index: 9999;
	width: 90px;
	bottom:140px;
	left: -20px;

}
.nav-app .qr.show{
	display: block !important;
}
#Web-Next .qr img{
	width: 60px;
	height: 60px;
	padding: 10px;
	z-index: -1;

}
#Web-Next .qr span{
	display: inline-block;
	float:left;
	margin: 0 10px;
	margin-left: 12px;
}