
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1475747705'); /* IE9*/
  src: url('iconfont.eot?t=1475747705#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1475747705') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1475747705') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1475747705#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-renqi:before { content: "\e605"; }
.icon-renqiicon:before { content: "\e634"; }
.icon-nanzhuang:before { content: "\e605"; }
.icon-youxi:before { content: "\e6e7"; }
.icon-shouji:before { content: "\e634"; }
.icon-zhubao:before { content: "\e61a"; }
.icon-yundong:before { content: "\e630"; }
.icon-meishi:before { content: "\e61f"; }
.icon-huaniao:before { content: "\e623"; }
.icon-zhuangxiu:before { content: "\e614"; }
.icon-jiaju:before { content: "\e671"; }
.icon-mainiconteam:before { content: "\e600"; }
.icon-diannaobangong:before { content: "\e645"; }
.icon-daijinjuan:before { content: "\e60e"; }
.icon-xiexue:before { content: "\e618"; }
.icon-tongzhuangmuying:before { content: "\e696"; }
.icon-meizhuangxihu:before { content: "\e634"; }
.icon-liebiao:before { content: "\e601"; }
.icon-jiantou:before { content: "\e677"; }
.icon-jiantou1:before { content: "\e643"; }
.icon-yongiocn:before { content: "\e60a"; }
.icon-xialajiantou:before { content: "\e631"; }
.icon-xialajiantou1:before { content: "\e609"; }
.icon-jiajiananniu01:before { content: "\e64f"; }
.icon-jia:before { content: "\e603"; }
